Repository JohnTrunix/advent-of-ds: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: false
  
comment:
  behavior: new
  hide_project_coverage: false
  layout: diff, flags, files
  
component_management:
  individual_components:
    - component_id: frontend
      name: frontend
      paths:
        - frontend/**
    - component_id: backend
      name: backend
      paths:
        - backend/**

chore(ci): fix layout
  codecov.yml
Due: none

fix(backend): migrate to pydantic v2
  backend/app/db/schema.py
  backend/tests/db/test_schema.py
Due: backend

feat(frontend): add about content
  frontend/src/app/pages/about/about.component.html
  frontend/src/app/pages/home/home.component.html
Due: frontend

feat(frontend): add license info
  frontend/src/app/pages/about/about.component.html
Due: frontend

feat(frontend): add color theme functionality
  frontend/angular.json
  frontend/src/app/navbar/navbar.component.scss
  frontend/src/app/pages/calendar/calendar.component.scss
  frontend/src/app/pages/challenge/challenge.component.scss
  frontend/src/app/pages/home/home.component.html
  frontend/src/app/pages/leaderboard/leaderboard.component.scss
  frontend/src/assets/styles/_variables.scss
  frontend/src/index.html
  frontend/src/styles.scss
Due: frontend

feat(frontend): add theme switch functionality
  frontend/src/app/app.module.ts
  frontend/src/app/navbar/navbar.component.html
  frontend/src/app/navbar/navbar.component.scss
  frontend/src/app/navbar/navbar.component.ts
  frontend/src/assets/images/moon.svg
  frontend/src/assets/images/sun.svg
Due: frontend

fix(frontend): change soft-dark color value
  frontend/src/assets/styles/_variables.scss
Due: frontend

fix(theme): fix icons
  frontend/src/app/navbar/navbar.component.ts
  frontend/src/assets/images/moon.svg
  frontend/src/assets/images/sun.svg
Due: frontend

feat(auth): add oauth library
  frontend/package-lock.json
  frontend/package.json
Due: frontend

fix(frontend): fix module import
  frontend/src/app/app.module.ts
Due: frontend

chore(auth): move gh oauth to backend
  frontend/package-lock.json
  frontend/package.json
Due: frontend

chore(env): ignore .env files
  .gitignore
Due: none

chore(frontend): fix dev flag to top
  frontend/src/app/app.component.html
  frontend/src/app/app.component.scss
Due: frontend

feat(frontend): add dev flag for dev env
  frontend/src/app/app.component.html
  frontend/src/app/app.component.scss
  frontend/src/app/app.component.ts
Due: frontend

chore(auth): move gh oauth to backend
  backend/app/config.py
  backend/app/dependencies.py
  backend/app/main.py
  backend/app/routes/login.py
  backend/requirements.txt
  frontend/package.json
Due: frontend, backend

fix(frontend): fix login url
  frontend/src/app/navbar/navbar.component.html
Due: frontend

feat(auth): init session service
  frontend/src/app/services/session.service.spec.ts
  frontend/src/app/services/session.service.ts
Due: frontend

fix(auth): rm print in backend
  backend/app/routes/login.py
Due: backend

lint: style
  frontend/src/app/app.module.ts
Due: frontend

fix(frontend): fix rebase errors
  frontend/src/app/navbar/navbar.component.ts
  frontend/src/environments/environment.development.ts
  frontend/src/environments/environment.ts
Due: frontend

fix(frontend): fix rebase errors
  frontend/angular.json
  frontend/src/app/navbar/navbar.component.html
Due: frontend

feat(frontend): add needed services for settings
  frontend/src/app/services/settings.service.spec.ts
  frontend/src/app/services/settings.service.ts
  frontend/src/app/services/theme.service.spec.ts
  frontend/src/app/services/theme.service.ts
Due: frontend

refactor(frontend): rm unused service
  frontend/src/app/services/settings.service.spec.ts
  frontend/src/app/services/settings.service.ts
Due: frontend

feat(theme): embed theme service
  frontend/src/app/app.component.ts
  frontend/src/app/navbar/navbar.component.html
  frontend/src/app/navbar/navbar.component.ts
  frontend/src/app/services/theme.service.ts
Due: frontend

feat(theme): fix theme icons
  frontend/src/app/navbar/navbar.component.scss
  frontend/src/assets/images/moon.svg
  frontend/src/assets/images/sun.svg
Due: frontend

chore(db): refactor to postgres subfolder
  db/postgres/0-schema.sql
  db/postgres/1-view.sql
  db/postgres/10-mock.sql
  db/postgres/Dockerfile.dev
  db/run.sh
Due: none

chore(db): create dev build and deployment script
  scripts/dev-deploy.sh
Due: none

chore(docker): containerize app
  backend/Dockerfile.dev
  db/postgres/Dockerfile.dev
  docker-compose.dev.yml
  frontend/Dockerfile.dev
Due: frontend, backend

chore(docker): fix dependencies for docker compose
  backend/app/config.py
  backend/app/db/database.py
  backend/app/main.py
  backend/requirements.txt
  scripts/dev-deploy.sh
Due: backend

docs(docker): add start up command to readme
  README.md
Due: none

fix(backend): fix backend env
  backend/Dockerfile.dev
  backend/app/config.py
  backend/app/db/database.py
  backend/app/dependencies.py
  backend/app/main.py
  backend/app/routes/login.py
Due: backend

fix(backend): fix backend env
  backend/app/config.py
Due: backend

feat(db): add mongodb docker image
  db/mongo/Dockerfile.dev
  db/mongo/mongod.conf
  docker-compose.dev.yml
Due: none

test(db): add mock .md files for collection
  db/mongo/mocking/day1.md
  db/mongo/mocking/day2.md
  db/mongo/mocking/day3.md
Due: none

test(db): extend mocking data
  db/mongo/mocking/day1.md
  db/mongo/mocking/day2.md
  db/mongo/mocking/day3.md
Due: none

chore(gitignore): ignore debug output form md renderer
  .gitignore
Due: none

chore(mongo): add dependencies for mongo ingest
  db/mongo/pyproject.toml
  db/mongo/requirements.txt
Due: none

feat(mongo): add md render and ingest script
  db/mongo/ingest.py
Due: none

test(formatter): test code formatting with md renderer
  db/mongo/mocking/test.md
Due: none

feat(formatter): add code formatter
  db/mongo/ingest.py
Due: none
