Repository JohnTrunix/advent-of-ds: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

chore(formatter): update dependencies
  db/mongo/requirements.txt
Due: none

fix(mongo): fix code highlighting
  db/mongo/ingest.py
  db/mongo/mocking/test.md
Due: none

fix(db): fix md frontmatter
  db/mongo/mocking/day1.md
  db/mongo/mocking/day2.md
  db/mongo/mocking/day3.md
  db/mongo/mocking/test.md
Due: none

chore(gitignore): ignore debug mocking
  .gitignore
Due: none

feat(postgres): add content column for rendered challenge html
  db/postgres/0-schema.sql
Due: none

feat(postgres): add mocking data for challenges
  db/postgres/mocking/day1.md
  db/postgres/mocking/day2.md
  db/postgres/mocking/day3.md
  db/postgres/mocking/test.md
Due: none

refactor(mongo): rm mongo and integrate to postgres
  db/mongo/Dockerfile.dev
  db/mongo/mongod.conf
  db/postgres/ingest.py
  db/postgres/pyproject.toml
  db/postgres/requirements.txt
  docker-compose.dev.yml
Due: none

feat(postgres): add content column to challenges table
  backend/app/db/orm.py
Due: backend

style: lint
  backend/app/config.py
Due: backend

refactor(postgres): add debug to ingest script
  db/postgres/ingest.py
Due: none

fix(backend): add content to pydantic schema
  backend/app/db/schema.py
  backend/tests/db/test_schema.py
Due: backend

fix(backend): dont return content form challenges in overview
  backend/app/db/crud.py
  backend/app/db/schema.py
  backend/app/routes/challenges.py
Due: backend

fix(postgres): add ingest to postgres functionality
  db/postgres/ingest.py
  db/postgres/mocking/test.md
Due: none

test(frontend): fix mocking challenges
  db/postgres/mocking/day1.md
  db/postgres/mocking/day2.md
  db/postgres/mocking/day3.md
  db/postgres/mocking/test.md
Due: none

fix(frontend): fix h1 style
  frontend/src/styles.scss
Due: frontend

fix(postgres): fix md table rendering
  db/postgres/ingest.py
Due: none

feat(frontend): embed challenge content into challenge page
  frontend/src/app/models/challenges.model.ts
  frontend/src/app/pages/challenge/challenge.component.ts
  frontend/src/app/services/api/challenges.service.ts
Due: frontend

feat(frontend): add challenge style
  frontend/src/app/pages/challenge/challenge.component.scss
Due: frontend

feat(frontend): add challenge to page
  frontend/src/app/pages/challenge/challenge.component.html
Due: frontend

fix(frontend): fix callendar overflow
  frontend/src/app/pages/calendar/calendar.component.scss
Due: frontend

fix(frontend): fix 404 login url
  frontend/src/app/pages/home/home.component.html
  frontend/src/app/pages/home/home.component.ts
Due: frontend

fix(postgres): fix auto create debug path
  db/postgres/ingest.py
Due: none

refactor(frontend): move md style to global
  frontend/src/app/pages/challenge/challenge.component.scss
  frontend/src/assets/styles/_markdown.scss
  frontend/src/styles.scss
Due: frontend

style: lint
  frontend/src/app/services/api/challenges.service.ts
Due: frontend

feat(backend): add avatar_url to leaderboard view
  backend/app/db/schema.py
Due: backend

feat(postgres): add avatar_url to leaderboard view
  db/postgres/1-view.sql
Due: none

feat(frontend): add avatar_url to leaderboard view
  frontend/src/app/models/leaderboard.model.ts
Due: frontend

feat(frontend): add avatar icon to leaderboard
  frontend/src/app/pages/leaderboard/leaderboard.component.html
  frontend/src/app/pages/leaderboard/leaderboard.component.scss
Due: frontend

test(backend): fix missing schema test
  backend/tests/db/test_schema.py
Due: backend

feat(backend): add user crud schema
  backend/app/db/schema.py
Due: backend

test(backend): test user crud schema
  backend/tests/db/test_schema.py
Due: backend

feat(backend): login saves user to db
  backend/app/db/crud.py
  backend/app/routes/login.py
Due: backend

refactor(frontend): refactor login to account component
  frontend/src/app/account/account.component.html
  frontend/src/app/account/account.component.scss
  frontend/src/app/account/account.component.spec.ts
  frontend/src/app/account/account.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/navbar/navbar.component.html
  frontend/src/app/navbar/navbar.component.scss
  frontend/src/app/navbar/navbar.component.ts
Due: frontend

test(frontend): integrate account component
  frontend/src/app/app.component.spec.ts
  frontend/src/app/navbar/navbar.component.spec.ts
Due: frontend

chore(postgres): rm unused dependency
  db/postgres/requirements.txt
Due: none

chore(frontend): fix package-lock.json
  frontend/package-lock.json
Due: frontend

style: lint
  frontend/angular.json
Due: frontend

fix(frontend): rm padding of dev banner
  frontend/src/app/app.component.scss
Due: frontend

refactor(frontend): move navbar to components
  frontend/src/app/app.component.spec.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/navbar/navbar.component.html
  frontend/src/app/components/navbar/navbar.component.scss
  frontend/src/app/components/navbar/navbar.component.spec.ts
  frontend/src/app/components/navbar/navbar.component.ts
Due: frontend

refactor(frontend): move account to components
  frontend/src/app/app.component.spec.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/account/account.component.html
  frontend/src/app/components/account/account.component.scss
  frontend/src/app/components/account/account.component.spec.ts
  frontend/src/app/components/account/account.component.ts
  frontend/src/app/components/navbar/navbar.component.spec.ts
Due: frontend

Path conditions:
  frontend: any of: frontend/**
  backend: any of: backend/**
